# macOS system file
.DS_Store

# Environment files
.env
/.env
/orchestrator/.env
/contributor/.env

# Build artifacts
/target
/eigenlayer/target
/orchestrator/target
/contributor/target

# Key files
keys/
/orchestrator/keys
/contributor/keys